/* -------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
	font-family:"メイリオ";
	font-size: 12px;
	line-height: 18px;
	background-image:url(../img/header_bg.png);
	color: #242417;
}


h1 {
	font-size:12px;
	font-weight:normal;
	line-height: 24px;
	font-family:"メイリオ";
	margin:0px auto 10px;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color:#FFF;
}
/* 全体
------------------------------------------------------------*/
#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}

.inner{
margin:0 auto;
width:100%;
}
.centered { margin: 0 auto; }

#container{
}
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {/*modernizr-transitions.jsとセットで必要*/
  -webkit-transition-duration: 1.0s;
     -moz-transition-duration: 1.0s;
       -o-transition-duration: 1.0s;
          transition-duration: 1.0s;
}

/*************
/* ヘッダー
*************/
#header{
	overflow:hidden;
	padding:0px 0px 20px 0px;
	background-repeat: repeat-x;
	margin-bottom: 15px;
	background-color: #000;
	border-bottom: solid 1px #ccc;
	color: #FFF;
}

* html #header{height:1%;}


/*************
/* ロゴ
*************/
#header .logo{
	padding:0px;
	text-align: center;
}
.logo a{
font-size:20px;
font-weight:bold;
line-height:1;
color:#fff;
font-family:"メイリオ";
}

.logo span{
font-size:12px;
font-weight:normal;
}
.box {
    padding: 5px;
	margin:5px;
    float: left;
	display:block;
}
.centered { margin: 0 auto; }

#container{

}

.col2 {
	width: 280px;
}
.col4 {
	width: 580px;
}
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {/*modernizr-transitions.jsとセットで必要*/
  -webkit-transition-duration: 1.0s;
     -moz-transition-duration: 1.0s;
       -o-transition-duration: 1.0s;
          transition-duration: 1.0s;
}
#kakunin table {
	width:100%;
}
#kakunin td {
	border:solid 1px #ccc;
	width:50%;
	line-height:26px;
	padding-left:5px;
}
/* PC用 */
@media only screen and (min-width:960px){	

	#wrapper,.inner{
	width:1080px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
  nav div.panel{
	display:block !important;
	}

	a#menu{display:none;}

	nav#mainNav ul{
	overflow:hidden;
	}

	* html nav#mainNav ul{height:26px;}

	nav#mainNav ul li{
	float:left;
	text-align:center;
	border-right:1px dotted #eee;
	width:153px;
	}
	
	nav#mainNav ul li:last-child{border:0;}

	nav#mainNav ul a{
	font-size:13px;
	display:block;
	padding:5px 15px;
	line-height:1.2;
	color:#fff;
	background:#000;
	text-decoration:none;
	}
	
	nav#mainNav ul span{
	font-size:10px;
	}

	nav#mainNav ul li.active a,nav#mainNav ul a:hover{
	color:#ccc;
	background:#fff;
	}
	
	/* グリッド全体 */
	.gridWrapper{
	width:1096px;
	margin:0 0 0 -20px;
	}
	
	/* グリッド共通 ベース:トップページ4カラム */
	.grid{
	float:left;
	width:220px;
	margin-left:20px;
	}
	
	/* サブコンテンツ + フッター グリッド(3カラム) */
	#sub .grid, #footer .grid{width:298px;}
	#footer .grid{border:0; border-left:dotted 1px #fff; height:200px; padding-left:15px;}
}


/* モニター幅940px以下 */
@media only screen and (max-width:940px){
	*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
	}
	
	#header{padding:10px 0 0;}
	
	#header .logo,#footer .logo{
	float:none;
	text-align:center;
	padding:10px 5px;
	}
	
	nav#mainNav{
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	background:#000;
	}

	nav#mainNav a.menu{
	width:100%;
	display:block;
	height:40px;
	line-height:40px;
	font-weight: bold;
	text-align:left;
	color:#fff;
	}

	nav#mainNav a#menu span{padding-left:10px;}
	nav#mainNav a.menu span:before{content: "→ ";}
	nav#mainNav a.menuOpen span:before{content: "↓ ";}

	nav#mainNav a#menu:hover{cursor:pointer;}

	nav .panel{
	display: none;
	width:100%;
	position: relative;
	right: 0;
	top:0;
	z-index: 1;
	}

	nav#mainNav ul li{
	float: none;
	clear:both;
	width:100%;
	height:auto;
	line-height:1.2;
	}

	nav#mainNav ul li a,nav#mainNav ul li.current-menu-item li a{
	display: block;
	padding:15px 10px;
	text-align:left;
	border-bottom:1px dashed #fff;
	color:#fff;
	background:#999;
	}
	
	nav#mainNav ul li a span{padding-left:10px;}
	
	nav#mainNav ul li:first-child a{border-top:1px dashed #fff;}
	
	nav#mainNav ul li:last-child a{border:0;}
	
	nav#mainNav ul li.active a,nav#mainNav ul li a:hover{background:#d75800;}

	nav div.panel{float:none;}
	
	.grid{
	float:left;
	width:48%;
	margin:10px 2% 0 0;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
	}
	
	#gallery{padding-left:1px;}
	
	#gallery .grid{
	width:23%;
	margin:0 2% 0 0;
	padding:0;
	}
	
	#gallery .grid img{
	float:none;
	margin:0;
	}
	
	#sub .grid{
	width:32%;
	margin:10px 1%;
	}
	
	#sub .grid:first-child{
	margin-left:0;
	}
	
	#sub .grid:last-child{
	margin-right:0;
	}
	
	#footer .grid, #footer .grid p{
	float:none;
	width:100%;
	text-align:center;
	border:0;
	}
	
	#footer .grid:last-child{padding-top:20px;}
}


/* iPad 縦 */
@media only screen and (max-width:768px){
  #header{padding-bottom:0;}	

	#header h1{text-align:center;}
	
	#header .logo{
	float:none;
	text-align:center;
	padding:10px 5px 20px;
	}
	
	#sub ul.list{padding:10px 10px 11px;}
	
	#sub ul.list li{
	padding-bottom:10px;
	margin-bottom:8px;
	}
}


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
	#footer .grid p{text-align:center;}
	
	.grid img{
	float:none;
	margin:0 auto;
	}
	
	.grid p,#sub .grid li{text-align:left;}

  .alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
	}
	
	#sub ul.list li img{margin:0 5px 0 0;}
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
	#mainBanner h2,#mainBanner h3{font-size:75%;}
	.subImg .slogan{right:-30px;}
	
	.grid img{max-width:90%;height:auto;}
	
	#sub .grid{
	float:none;
	width:98%;
	}
	
	#sub .grid h3{padding:10px 5px;}
	
	#sub ul.list{padding:10px;}
	
	#sub ul.list li{
	padding-bottom:3px;
	margin-bottom:3px;
	}
}
#main {
	max-width:1200px;
	margin:auto;
}
/*************
/* フッター
*************/
#footer{
	clear:both;
	padding:20px 0;
	overflow:hidden;
	background:#333;
	color: #FFF;
	line-height:32px;
	margin-top: 15px;
}

* html #footer{height:1%;}

.tel strong{
font-size:20px;
font-weight:bold;
}

#footer a{color:#fff; text-decoration:none;}
#footer a:hover{color:#ccc;}

#footer .copyright{font-size:11px;}